<footer class="container-fluid bg-white border-top-light mt-3">
  <div class="row">
    <a href="http://codeobia.com/" target="_blank" class="col-md-3 col-xs-12 primary-hover border-left-light"
      rel="noopener">
      <img src="assets/codeobia-logo.png" alt="codeobia logo" class="codeobiaImg mx-auto d-block mt-1 m-3" />
    </a>


    <a href="https://icarda.org" target="_blank" class="col-md-3 col-xs-12 primary-hover border-left-light"
      rel="noopener">
      <img src="https://icarda.org/themes/custom/icarda/logo.svg" alt="codeobia logo"
        class="codeobiaImg mx-auto d-block mt-1 m-3" />
    </a>
    <a href="https://qcat.wocat.net" target="_blank" class="col-md-3 col-xs-12 primary-hover border-left-light"
      rel="noopener">
      <img style="background-color: #5f594f;" src="assets/wocat_logo.svg" alt="codeobia logo"
        class="codeobiaImg mx-auto d-block mt-1 m-3" />
    </a>
  </div>
</footer>