<footer class="container-fluid bg-white border-top-light mt-3">
  <div class="row pl-5 pr-5">



    <!-- <div class="col-md-12">
      <ngx-flicking class="flicking flicking1" [plugins]="plugins"
        [options]="{ gap: 50,bound: false, circular: true , duration: 500}">
        <ng-template>
          <div class="panel">
            <a href="https://qcat.wocat.net" target="_blank" class="primary-hover" rel="noopener">
              <img style="background-color: #5f594f;" src="assets/wocat_logo.svg" alt="codeobia logo"
                class="codeobiaImg mx-auto d-block mt-1 m-3" />
            </a>
          </div>
          <div class="panel">
            <a href="https://icarda.org" target="_blank" class="primary-hover" rel="noopener">
              <img src="https://icarda.org/themes/custom/icarda/logo.svg" alt="codeobia logo"
                class="codeobiaImg mx-auto d-block mt-1 m-3" />
            </a>
          </div>
          <div class="panel">
            <a href="https://mel.cgiar.org/" target="_blank" class="primary-hover" rel="noopener">
              <img src="https://mel.cgiar.org/assets/frontend/logos/logo.png" alt="codeobia logo"
                class="codeobiaImg mx-auto d-block mt-1 m-3" />
            </a>
          </div>
          <div class="panel">
            <a href="http://www.isric.org/" target="_blank" class="primary-hover" rel="noopener">
              <img src="https://qcat.wocat.net/static/assets/img/supporter-organizations/isric.png" alt="codeobia logo"
                class="codeobiaImg mx-auto d-block mt-1 m-3" />
            </a>
          </div>
          <div class="panel">
            <a href="http://www.icimod.org/" target="_blank" class="primary-hover" rel="noopener">
              <img src="https://qcat.wocat.net/static/assets/img/supporter-organizations/icimod.png" alt="codeobia logo"
                class="codeobiaImg mx-auto d-block mt-1 m-3" />
            </a>
          </div>
          <div class="panel">
            <a href="https://www.ifad.org/" target="_blank" class="primary-hover" rel="noopener">
              <img src="  https://qcat.wocat.net/static/assets/img/supporter-organizations/ifad.png" alt="codeobia logo"
                class="codeobiaImg mx-auto d-block mt-1 m-3" />
            </a>
          </div>
          <div class="panel">
            <a href="http://codeobia.com/" target="_blank" class="primary-hover" rel="noopener">
              <img src="assets/codeobia-logo.png" alt="codeobia logo" class="codeobiaImg mx-auto d-block mt-1 m-3" />
            </a>
          </div>




        </ng-template>
      </ngx-flicking>
    </div> -->




    <div class="logoitem col-md-6 d-flex justify-content-between  flex-wrap">
      <span class="d-block w-100">Designed by:</span>
      <a href="https://mel.cgiar.org/" target="_blank" class="primary-hover mr-3" style="float: left;" rel="noopener">
        <img src="assets/mel-logo.png" alt="mel logo"
          class="codeobiaImg mx-auto ml-2 m-0" />
      </a>
      <a href="https://icarda.org" target="_blank" class="primary-hover mr-3" style="float: left;" rel="noopener">
        <img src="https://icarda.org/themes/custom/icarda/logo.svg" alt="icarda logo"
          class="codeobiaImg mx-auto ml-2 m-0 " />
      </a>
      <a href="http://www.isric.org/" target="_blank" class="primary-hover" style="float: left;" rel="noopener">
        <img src="https://qcat.wocat.net/static/assets/img/supporter-organizations/isric.png" alt="isric logo"
          class="codeobiaImg mx-auto ml-2 mt-0" />
      </a>
      <a href="https://www.cde.unibe.ch/" target="_blank" class="primary-hover mr-3" style="float: left;" rel="noopener">
        <img src="assets/cde_centre_pantone.jpg" alt="cde_centre_pantone"
          class="codeobiaImg mx-auto ml-2 m-0" />
      </a>

    </div>

    <div class="logoitem col-md-3">
      <span class="d-block w-100">Funded by:</span>
      <a href="https://www.worldbank.org/" target="_blank" class="primary-hover" rel="noopener">
        <img src="assets/WBG_Horizontal-RGB-high.png" alt="worldbank logo" class="codeobiaImg  mx-auto d-block mt-0" />
      </a>
    </div>
    <div class="logoitem col-md-3">
      <span class="d-block w-100">Developed by:</span>
      <a href="http://codeobia.com/" target="_blank" class="primary-hover" rel="noopener">
        <img src="assets/codeobia-logo.png" alt="codeobia logo" class="codeobiaImg  mx-auto d-block mt-0" />
      </a>
    </div>
  </div>
</footer>