.break-word {
  word-wrap: break-word !important;
}

.publication-text app-tags:not(:last-child):not(.simulate-p-tag)::after {
  content: " | ";
}

.simulate-p-tag {
  padding-top: 5px;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.is-technologies {
  color: rgba(85, 116, 49, 0.8);
}
.is-approach {
  color: rgba(210, 105, 41, 0.8);
}
